<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tharwa.solid.tharwa">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- Application Tag -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- file provider to provide the image from the camera app -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tharwa.solid.tharwa.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".View.LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".View.SignUpActivity"
            android:parentActivityName=".Controller.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.LoginActivity" />
        </activity>
        <activity android:name=".Controller.CodeIntroductionActivity" />
        <activity
            android:name=".View.ClientAcountActivity"
            android:exported="true" />
        <activity android:name=".View.ExchangeRateActivity"></activity>
        <activity android:name=".View.VirementInterneTh" />


        <activity android:name=".View.VirementTharwaActivity"
            android:parentActivityName=".View.ClientAcountActivity"
            android:exported="true">


            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.ClientAcountActivity" />
        </activity>
    </application>

</manifest>